NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=
GSHEETS_CLIENT_EMAIL=
GSHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GSHEETS_SPREADSHEET_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
